<h1>Comment by <%= @comment.author.user_name %></h1>
<%= link_to "Back to Post", post_url(@comment.post_id) %>
<p>
  <%= @comment.content %>
</p>

<form  action="<%= comments_path %>"  method="POST">
  <%= auth_token %>
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id%>">
  <label for="content">Content</label>
  <textarea name="comment[content]" rows="8" cols="40"></textarea>

  <br><br>
  <input type="submit"  value="Sumbit">
</form>
