<h1><%= @sub.title %></h1>
<h4>
  <em><%= @sub.description %></em>
</h4>

<h3>Posts</h3>
<%= render partial: 'post', collection: @sub.posts %>
<hr>
<%= link_to "Make a new Post", new_post_url %>
<br>
<%= link_to "Back to subs", subs_url %>
