<div>
  <p>
    Comment by <%= comment.author.user_name %> made
    <%= time_ago_in_words(comment.updated_at) %> ago
  </p>
  <p>
    <%= comment.content %>
  </p>
  <p><%= link_to "See Comment", comment_url(comment) %></p>
  <ul>
    <% comment_by_parent_id[comment.id].each do |comment| %>
      <%= render partial: "comment", 
                 locals: { comment: comment,
                           comment_by_parent_id: comment_by_parent_id } %>
    <% end %>
  </ul>
</div>
