<% action = post.new_record? ? posts_path : post_path(post) %>
<% button =  post.new_record? ? "Create Post" : "Edit Post" %>


<form action="<%= action%>" method="post">
  <%= auth_token %>
  <input type="hidden" name="post[sub_ids][]" value="">
  <% unless post.new_record? %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>


  <label for="post_title">Title: </label><br>
  <input type="text" name="post[title]" value="<%= post.title %>">
  <br><br>

  <label for="post_url">URL: </label><br>
  <input type="text" name="post[url]" value="<%= post.url %>">
  <br><br>

  <% subs.each do |sub| %>
    <%= sub.title %>
    <input type="checkbox"
    name="post[sub_ids][]"
    value="<%= sub.id%>"
    <%= "checked" if post.sub_ids.include?(sub.id)  %>>
  <% end %>
  <br><br>

  <label for="post_content">Content: </label><br>
  <textarea name="post[content]" rows="8" cols="40"><%= post.content %></textarea><br>

  <input type="submit"  value="<%= button %>">
</form>
