<h1>
  <% if @post.url.empty? %>
    <%= @post.title %>
  <% else %>
    <%= link_to @post.title, @post.url %>
  <% end %>
</h1>
<h3>
  by <%= @post.author.user_name %> <%= made_or_edited(@post) %>
  <%= time_ago_in_words(@post.updated_at) %> ago
</h3>
<p>
  <%= @post.content %>
</p>

<hr>

<h4>Comments ( <%= @post.comments.count %> )</h4>
<% @comments_by_parent_id[nil].each do |comment| %>
  <%= render partial: "comment", 
             locals: { comment: comment, 
                       comment_by_parent_id: @comments_by_parent_id } %>
<% end %>

<%= render partial: "comment_form", locals: { post: @post } %>

<%  if current_user.id == @post.author_id %>
  <%= link_to "Edit Post", edit_post_path(@post.id) %>
<% end %>
<%= link_to "Back to subs", subs_url %>
